
/* Open Sana */
@font-face {
    font-family: playfair;
    src: url(/fonts/playFair/PlayfairDisplay-Regular.ttf);
}

/* Ubuntu */
@font-face {
    font-family: ubuntu;
    src: url(/fonts/Ubuntu/Ubuntu-Light.ttf);
}

/* Font Awsome */
@font-face {
    font-family: fa;
    src: url(/fonts/fa/fa-brands-400.ttf);
}

/* Inconsalata */
@font-face {
    font-family: inconsolata;
    src: url(/fonts/Inconsolata/Inconsolata-Regular.ttf);
}

/* Eurofurenceregular */
@font-face {
    font-family: ero;
    src:url(/fonts/eurofurence/eurof55.ttf) format('truetype');
}

/* lato */
@font-face {
    font-family: lato;
    src:url(/fonts/Lato2OFL/Lato-Regular.ttf) format('truetype');
}

/* lato bold */
@font-face {
    font-family: latoB;
    src:url(/fonts/Lato2OFL/Lato-Bold.ttf) format('truetype');
}
