:root {
    /* colors */
    --bgClr: #398d93e6;
    --clr2: #58C93A;
    --clr3: #0f0f0f;
    --clr4: #C2C2C2;
    --clr5: #939292;
    --clr6: #E5E5E5;

    /* screen sizes */
    /* --s: 740px;
    --m: 890px;
    --w: 1500px; */
}